.Home-Container {
  text-align: center;
}

.App-logo {
  padding-top: 5vh;
}


.Home-Header {
  background: linear-gradient(#14233A, rgba(20,35,57,0.5), #14233A), url('./assets/mavic-mtn.jpg') no-repeat center; 
  background-size: cover; 
  height: 100vh;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
